.wrapper{
	width: 400px;
	height: 100px;
}
.panel{
	margin-bottom: 0;
}
/* Your ip */
.ip-body{
	font-size: 15px;
}

.copy{
	cursor: pointer;
}

.copy:hover{
	box-shadow: 0px 0px 3px black;
};

.copy:active{
	box-shadow: inset 0px 0px 10px black;
};